{% extends 'base.html' %}
{% load static %}

{% block title %} Transfer {% endblock %}

{% block content %}

<style>
	table,th,td{ border:1px solid black; border-collapse: collapse; color:black; }
	.styled-table {
    		border-collapse: collapse;
    		margin: 25px 0;
    		font-size: 0.9em;
    		font-family: sans-serif;
    		min-width: 400px;
    		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.styled-table thead tr {
    		background-color: #009879;
    		color: #ffffff;
    		text-align: left;
	}

	.styled-table th,
	.styled-table td {
    		padding: 12px 15px;
	}

	.styled-table tbody tr {
    		border-bottom: 1px solid #dddddd;
	}

	.styled-table tbody tr:nth-of-type(even) {
    		background-color: #f3f3f3;
	}

	.styled-table tbody tr:last-of-type {
    		border-bottom: 2px solid #009879;
	}

	.styled-table tbody tr.active-row {
    		font-weight: bold;
    		color: #009879;
	}
</style>

<center>
<link rel="stylesheet" href="{%static 'css/create-task-btn.css'%}">
<h1> Transfer Money </h1>
<form method = "POST">
{% csrf_token %}
	<table border="2" class="styled-table">
		{{ fm.as_table }}
	</table>
	<br>
	<button type="submit" name="button" class="create-task-btn">Transfer</button>
</form>

{% if msg %}
<script>
alert("{{ msg }}");
</script>
{% endif %}

</center>
<br><br>

{% endblock %}